* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f8f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 1000px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.language-selection, .selected-lang {
    display: inline-block;
}

.lang-btn {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

.swap-button button {
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
}

.translator {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input-section, .output-section {
    width: 48%;
}

.input-section p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.input-section .subtext {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.output-section p {
    font-size: 18px;
    color: #666;
    text-align: center;
    line-height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f3f4;
    height: 150px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auto-detect button, .glossary button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
